<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Avenir</key>
	<dict>
		<key>-2</key>
		<array>
			<string>Avenir-Light</string>
			<string>Avenir-LightOblique</string>
		</array>
		<key>-1</key>
		<array>
			<string>Avenir-Book</string>
			<string>Avenir-BookOblique</string>
		</array>
		<key>0</key>
		<array>
			<string>Avenir-Roman</string>
			<string>Avenir-Oblique</string>
		</array>
		<key>1</key>
		<array>
			<string>Avenir-Medium</string>
			<string>Avenir-MediumOblique</string>
		</array>
		<key>2</key>
		<array>
			<string>Avenir-Heavy</string>
			<string>Avenir-HeavyOblique</string>
		</array>
		<key>3</key>
		<array>
			<string>Avenir-Black</string>
			<string>Avenir-BlackOblique</string>
		</array>
	</dict>
	<key>TrebuchetMS</key>
	<dict>
		<key>0</key>
		<array>
			<string>TrebuchetMS</string>
			<string>TrebuchetMS-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>TrebuchetMS-Bold</string>
			<string>TrebuchetMS-BoldItalic</string>
		</array>
	</dict>
	<key>Arial</key>
	<dict>
		<key>0</key>
		<array>
			<string>ArialMT</string>
			<string>Arial-ItalicMT</string>
		</array>
		<key>1</key>
		<array>
			<string>Arial-BoldMT</string>
			<string>Arial-BoldItalicMT</string>
		</array>
	</dict>
	<key>Cochin</key>
	<dict>
		<key>0</key>
		<array>
			<string>Cochin</string>
			<string>Cochin-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>Cochin-Bold</string>
			<string>Cochin-BoldItalic</string>
		</array>
	</dict>
	<key>Verdana</key>
	<dict>
		<key>0</key>
		<array>
			<string>Verdana</string>
			<string>Verdana-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>Verdana-Bold</string>
			<string>Verdana-BoldItalic</string>
		</array>
	</dict>
	<key>Courier</key>
	<dict>
		<key>0</key>
		<array>
			<string>Courier</string>
			<string>Courier-Oblique</string>
		</array>
		<key>1</key>
		<array>
			<string>Courier-Bold</string>
			<string>Courier-BoldOblique</string>
		</array>
	</dict>
	<key>HoeflerText</key>
	<dict>
		<key>0</key>
		<array>
			<string>HoeflerText-Regular</string>
			<string>HoeflerText-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>HoeflerText-Black</string>
			<string>HoeflerText-BlackItalic</string>
		</array>
	</dict>
	<key>Helvetica</key>
	<dict>
		<key>-1</key>
		<array>
			<string>Helvetica-Light</string>
			<string>Helvetica-LightOblique</string>
		</array>
		<key>0</key>
		<array>
			<string>Helvetica</string>
			<string>Helvetica-Oblique</string>
		</array>
		<key>1</key>
		<array>
			<string>Helvetica-Bold</string>
			<string>Helvetica-BoldOblique</string>
		</array>
	</dict>
	<key>Optima</key>
	<dict>
		<key>0</key>
		<array>
			<string>Optima-Regular</string>
			<string>Optima-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>Optima-Bold</string>
			<string>Optima-BoldItalic</string>
		</array>
		<key>2</key>
		<array>
			<string>Optima-ExtraBlack</string>
			<string>Optima-ExtraBlack</string>
		</array>
	</dict>
	<key>TimesNewRoman</key>
	<dict>
		<key>0</key>
		<array>
			<string>TimesNewRomanPSMT</string>
			<string>TimesNewRomanPS-ItalicMT</string>
		</array>
		<key>1</key>
		<array>
			<string>TimesNewRomanPS-BoldMT</string>
			<string>TimesNewRomanPS-BoldItalicMT</string>
		</array>
	</dict>
	<key>Baskerville</key>
	<dict>
		<key>0</key>
		<array>
			<string>Baskerville</string>
			<string>Baskerville-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>Baskerville-SemiBold</string>
			<string>Baskerville-SemiBoldItalic</string>
		</array>
		<key>2</key>
		<array>
			<string>Baskerville-Bold</string>
			<string>Baskerville-BoldItalic</string>
		</array>
	</dict>
	<key>AmericanTypewriter</key>
	<dict>
		<key>-1</key>
		<array>
			<string>AmericanTypewriter-Light</string>
			<string>AmericanTypewriter-Light</string>
		</array>
		<key>0</key>
		<array>
			<string>AmericanTypewriter</string>
			<string>AmericanTypewriter</string>
		</array>
		<key>1</key>
		<array>
			<string>AmericanTypewriter-Bold</string>
			<string>AmericanTypewriter-Bold</string>
		</array>
	</dict>
	<key>AmericanTypewriter-Condensed</key>
	<dict>
		<key>-1</key>
		<array>
			<string>AmericanTypewriter-CondensedLight</string>
			<string>AmericanTypewriter-CondensedLight</string>
		</array>
		<key>0</key>
		<array>
			<string>AmericanTypewriter-Condensed</string>
			<string>AmericanTypewriter-Condensed</string>
		</array>
		<key>1</key>
		<array>
			<string>AmericanTypewriter-CondensedBold</string>
			<string>AmericanTypewriter-CondensedBold</string>
		</array>
	</dict>
	<key>AvenirNext</key>
	<dict>
		<key>-1</key>
		<array>
			<string>AvenirNext-UltraLight</string>
			<string>AvenirNext-UltraLightItalic</string>
		</array>
		<key>0</key>
		<array>
			<string>AvenirNext-Regular</string>
			<string>AvenirNext-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>AvenirNext-Medium</string>
			<string>AvenirNext-MediumItalic</string>
		</array>
		<key>2</key>
		<array>
			<string>AvenirNext-DemiBold</string>
			<string>AvenirNext-DemiBoldItalic</string>
		</array>
		<key>3</key>
		<array>
			<string>AvenirNext-Bold</string>
			<string>AvenirNext-BoldItalic</string>
		</array>
		<key>4</key>
		<array>
			<string>AvenirNext-Heavy</string>
			<string>AvenirNext-HeavyItalic</string>
		</array>
	</dict>
	<key>Georgia</key>
	<dict>
		<key>0</key>
		<array>
			<string>Georgia</string>
			<string>Georgia-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>Georgia-Bold</string>
			<string>Georgia-BoldItalic</string>
		</array>
	</dict>
	<key>HelveticaNeue</key>
	<dict>
		<key>-2</key>
		<array>
			<string>HelveticaNeue-UltraLight</string>
			<string>HelveticaNeue-UltraLightItalic</string>
		</array>
		<key>-1</key>
		<array>
			<string>HelveticaNeue-Light</string>
			<string>HelveticaNeue-LightItalic</string>
		</array>
		<key>0</key>
		<array>
			<string>HelveticaNeue</string>
			<string>HelveticaNeue-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>HelveticaNeue-Medium</string>
			<string>HelveticaNeue-Medium</string>
		</array>
		<key>2</key>
		<array>
			<string>HelveticaNeue-Bold</string>
			<string>HelveticaNeue-Bold</string>
		</array>
	</dict>
	<key>GillSans</key>
	<dict>
		<key>-1</key>
		<array>
			<string>GillSans-Light</string>
			<string>GillSans-LightItalic</string>
		</array>
		<key>0</key>
		<array>
			<string>GillSans</string>
			<string>GillSans-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>GillSans-Bold</string>
			<string>GillSans-BoldItalic</string>
		</array>
	</dict>
	<key>Palatino</key>
	<dict>
		<key>0</key>
		<array>
			<string>Palatino-Roman</string>
			<string>Palatino-Italic</string>
		</array>
		<key>1</key>
		<array>
			<string>Palatino-Bold</string>
			<string>Palatino-BoldItalic</string>
		</array>
	</dict>
	<key>CourierNew</key>
	<dict>
		<key>0</key>
		<array>
			<string>CourierNewPSMT</string>
			<string>CourierNewPS-ItalicMT</string>
		</array>
		<key>1</key>
		<array>
			<string>CourierNewPS-BoldMT</string>
			<string>CourierNewPS-BoldItalicMT</string>
		</array>
	</dict>
</dict>
</plist>
